#ifndef CONFIG_H
#define CONFIG_H

/* MQTT */
const char *  MQTT_BROKER           = "test.mosquitto.org"; // MQTT broker IP address or host name
const int     MQTT_PORT             = 1883;                 // MQTT broker port (default 1883)
const char *  MQTT_USERNAME         = NULL;                 // Optional, NULL if no authentication
const char *  MQTT_PASSWORD         = NULL;                 // Optional, NULL if no authentication
const char *  MQTT_TOPIC_PREFIX     = NULL;                 // Optional, NULL if no prefix in topic path
const char *  MQTT_TOPIC_SUFFIX     = NULL;                 // Optional, NULL if no suffix in topic path

#endif
